{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
        <!--  </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div> -->
<!--        <img src="{{.Params.author_signature | absURL }}" alt="signature" class="img-fluid">-->
        <h4>{{ site.Params.Author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!--<section class="section bg-light">-->
<!--  <div class="container">-->
<!--    {{ partial "client-slider.html" . }}-->
<!--  </div>-->
<!--</section>-->

{{ end }}
